@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body {
  background: black;
}
h5 {
  color: rgba(255, 255, 255, 0.747);
}
.text-one {
  font-size: 40px;
}
p {
  font-size: 10px;
  color: #157a6e;
}
.text-two {
  color: #157a6e;
  font-size: 40px;
}
.wrapper {
  background: #273549;
  border-radius: 6px;
  display: block;
  margin: 20px auto;
  width: 550px;
  height: 550px;
  padding: 10px;
}

button {
  width: 191px;
  height: 42px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #13a392;
  padding: 4px 10px;
  border-radius: 5px;
  color: white;
  border: none;
}
.passwrapper {
  display: flex;
  justify-content: center;
}
#pass {
  background: #273549;
  border-radius: 6px;
  padding: 2px 50px;
  margin-top: 20px;
  width: 211px;
  height: 39px;
  font-size: 16px;
  color: #55f991;
}
#pass1,
#pass2 {
  color: #55f991;
  font-size: 16px;
  padding: 2px 50px;
  margin-top: 20px;
  background: #273549;
  border-radius: 6px;
  margin-left: 10px;
  width: 211px;
  height: 39px;
}
